#google-custom-search {
  width: 300px;
  float: right;
  margin-top: 5px; }
#google-custom-search .gsc-control-cse {
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important; }
